@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Oswald:wght@200&display=swap');

:root {
--font-titles: 'Bubblegum Sans';
--font-paragraph: 'Oswald';
}
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-titles);
    background-image: url(/img/background.jpg);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}
#logo{
width: 60%;
}
#logo-title{
    width: 100%;
}
#btn-login{
width: 200px;
height: 50px;
background: yellow;
position: absolute;
top: 0;
}
#btn-register{
    height: 50px;
    background: blue;
    position: relative;
}
footer{
    background: rgba(175, 255, 254, 0.8);
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    color: rgb(113, 16, 137);
    font-size: 2.5vh;
    padding: 1.1%;
}
footer a{
    color: inherit;
}