@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Montserrat:wght@500;700&display=swap");
:root {
  --font-primary: "Kodchasan", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-w500: 500;
  --font-w700: 700;
  --color-btn-primary: #01b7b1;
  --color-btn-secondary: #8f57a5;
  --color-ligth: #fff;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/img/imgFondo.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}
footer {
  background: #6B417C;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.716);
  font-size: .9em;
  padding: 2% 1%;
  font-family: var(--font-secondary);
}
footer a {
  color: inherit;
  cursor: pointer;
} 
footer img{
  width: 2vh;
  filter: brightness(5);
}
/* ---------------Estilos para el celular------------------*/
  main {
    margin-top: 5%;
  }
  #root{
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 3vh;
  }
  #tittleLogo{
    font-family: var(--font-primary);
    font-size: 282%;
    color: #fff;
    text-align: center;
    width: 70%;
    text-shadow: 5px -5px 10px #8BB3EF;
    margin-top: 4vh;
  }
  #logo {
    width: 55%;
    margin-bottom: 2%;
  }
  #btns {
    width: 100%;
    height: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  #btn-login,
  #btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 51px;
    width: 260px;
    height: 75px;
    box-shadow: inset 0px -9px 8px rgba(0, 0, 0, 0.69);
    border: none;
    border-radius: 12px;
    font-family: var(--font-secondary);
    font-weight: var(--font-w700);
    font-size: 21px;
    color: var(--color-ligth);
  }
  #btn-login {
    background: var(--color-btn-primary);
  }
  #btn-register {
    background: var(--color-btn-secondary);
  }
  /*--------- error 404 -----------*/
  #pageNotFoundText {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 30px;
    /* width: 70%; */
    margin-top: 5%;
}
  #alien{
    width: 80%;
    margin-top: 25%;
  }
  #alien2{
    width: 95%;
  }
  #cawRocket{
    width: 20%;
    margin-top: 20px;
  }
  section>article{
    display: inline-flex;
    /* display: contents; */
    align-items: center;
    flex-direction: column-reverse;
  }
  #boxCointaing404{
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 121px;
  }
  /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
  main{
    margin: 0;
  }
  #root{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
      "main header "
      "main sidebar";
  }
  #logo{
    width: 53%;
    grid-area: main;
    margin-top: 6%;
    margin-left: 8%;
  }
  #tittleLogo{
    grid-area: header;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 390%;
  }
  #btns{
    grid-area: sidebar;
    width: 50%;
    margin-right: 15%;
    gap: 35px;
    transform: scale(0.8);
  }
  footer{
    padding: 1% 1%;
  }
}

@media (min-width: 1920px) {
  #tittleLogo{
    font-size: 500%;
  }
  #btns{
    transform: scale(1);
  }
  #boxCointaing404{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 915px;
  }
  #alien{
    width: 60%;
  }
  #pageNotFoundText {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 50px;
    /* width: 70%; */
    margin-top: 5%;
}
}